<p>vuelos-component works!</p>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['./main']">Main</a>
            <a class="nav-item nav-link" [routerLink]="['./mas-info']">Mas Info</a>
            <a class="nav-item nav-link" [routerLink]="['./', 5]">Vuelo 5</a>
        </div>
    </div>
</nav>

<!-- que hace reouter outlet 
se va a renderar el link en este pedazo
-->
<router-outlet></router-outlet>