<form class="form-inline" *ngIf="!authService.getUser()">
    <div class="form-group">
        <label for="username"> Usuario: (type <em>username</em>)</label>
        <input class="form-control" name="username" #username />
    </div>
    <div class="form-group">
        <label for="password">Password: (type <em>password</em>)</label>
        <input type="password" class="form-control" name="password" #password />
    </div>
    <a class="btn btn-primary" (click)="login(username.value, password.value)">Entrar!</a>
    {{mensajeError}}
</form>
<a class="btn btn-success" (click)="logout()" *ngIf="authService.getUser()">Salir</a>