<div>
    <div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'" >
        <div class="card-img" style="height: 300px;">
            <img src="https://placeimg.com/380/230/nature" style="position: absolute;" alt="">
            <span>
                <h4>{{position}}</h4>
            </span>
            <button (click)="remove()" class="btn btn-default" style="color:red; float: right; position: relative;">X</button>
                

        </div>
        <div class="card-desc">
            <h3>{{destino.nombre}}</h3>
            <p>Servicios</p>
            <ul>
                <li *ngFor="let s of destino.servicios">
                    <span [ngSwitch]="s">
                        <i *ngSwitchCase="'Desayuno'" style="color: red;">
                            {{s}}
                        </i>
                        <i *ngSwitchDefault>
                            {{s}}
                        </i>

                    </span>
                </li>
            </ul>
            <div>
                <a href="" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"><i class="material-icons md-18">thumb_up</i> </a>
                <a href="" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"><i class="material-icons md-18">thumb_down</i> </a>
                {{destino.votes}}
            </div>

            <a href="#" class="btn-card" (click)="ir()">Ir</a>
            <span *ngIf="destino.isSelected()">
                <span ngNonBindable>PREFERIDO</span>
            </span>
            <a [routerLink]="['/destino', destino.id]">Ver!</a>
        </div>
    </div>
</div>