<form [formGroup]="fg" (ngSubmit)="guardar(
								fg.controls['nombre'].value,
								fg.controls['url'].value
          )">

  <div class="form-group">

    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre"
     placeholder="Ingresar nombre..." formControlName='nombre'
     [ngClass]="(fg.controls['nombre'].invalid && fg.controls['nombre'].touched)?'is-invalid':''"
     >
    <div class="alert alert-danger" *ngIf="fg.controls['nombre'].hasError('required') && fg.controls['nombre'].touched">
        <p>El nombre es requerido</p>
    </div>
    <ul>
      <li *ngFor="let r of searchResults;">{{r}}</li>
    </ul>
    <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre Inválido</div>
    <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">Debe tener al menos {{minLongitud}} de largo</div>

    </div>
  <div class="form-group">
    <label for="Imagen Url">Imagen Url</label>
    <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..."
     formControlName='url'
     [ngClass]="(fg.controls['url'].invalid && fg.controls['url'].touched)?'is-invalid':''">
     <div class="alert alert-danger" *ngIf="fg.controls['url'].hasError('required') && fg.controls['url'].touched">
      <p>URL es requerida</p>
  </div>
  </div>
  <button type="submit"  class="btn btn-primary">Guardar!</button>
</form>