<div class="container content">
  <div class="page-header">
    <div style="float: right;">
      <select (change)="translate.use($any($event.target).value)">
        <option value="es">Es</option>
        <option value="en">En</option>
        <option value="fr">Fr</option>
      </select>
    </div>

    <div class="container">
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/destino']">Destino</a>
      </div>

    </div>
  </div>


  <div class="row">
    <h2>{{title}} <b [innerHTML]="'Hola' | translate"> </b></h2>
    
  </div>

  <router-outlet></router-outlet>


</div>

<hr class="mb-5">

Fecha: {{time | async}}
<hr class="mb-5">
<p>
  Nota: Si das click en el mismo no agrega a la lista de actividades.
  Nota2: Filtra del archivo las considencias segun startsWith
  (cambie el minimo de long para las sugerencias para que se note el filtrado ya que tengo cargadas pocas ciudades)
</p>